p {
    font-family: Rubik;
    display: inline; /* ทำให้เรียงกันเป็นแนวนอน */
    color: #333;
}

.H {
    color: pink;
}

p a {
    padding-right: 20px; /* ระยะห่างระหว่างกัน */
}
a:link{
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline;
}